/* External CSS */
/* Flexbox */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 30px;
}

/* Animations */
@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
